.main-container {
    width: 100%;
    min-height: 100vh;
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blocks-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &::after,
    &::before {
        content: "";
    }

    &::after {
        grid-row: 1;
        grid-column: 4;
    }

    &::before {
        grid-row: 2;
        grid-column: 1;
    }
}

.block {
    position: relative;
    width: $block-size;
    height: $block-size;
    border: $line-thickness solid;
    box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff inset;
    overflow: hidden;

    @each $i, $block in $blocks {
        &:nth-child(#{$i}) {
            border-color: map-deep-get($block, "color");

            @if (map-deep-get($block, "secondary-content")) {
                &::before {
                    background-color: nth(map-values(map-deep-get($block, "secondary-content")), 1);
                    box-shadow: generate_lines(
                        map-deep-get($block, "secondary-content"),
                        $line-thickness,
                        true
                    );
                }
            }

            &::after {
                background-color: nth(map-values(map-deep-get($block, "primary-content")), 1);
                box-shadow: generate_lines(
                    map-deep-get($block, "primary-content"),
                    $line-thickness
                );
            }
        }
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 60px;
        z-index: -1;
    }

    &.rounded-bottom-left {
        border-radius: 0 0 0 $block-size;
    }

    &.rounded-top-right {
        border-radius: 0 $block-size 0 0;
    }

    &.content-from-top-right {
        &::after {
            top: -$line-thickness;
            right: -$line-thickness;
            border-radius: 0 0 0 $block-size;
        }
    }

    &.content-from-top-left {
        &::before {
            bottom: -$line-thickness;
            right: -$line-thickness;
            border-radius: $block-size 0 0 0;
        }

        &::after {
            top: -$line-thickness;
            left: -$line-thickness;
            border-radius: 0 0 $block-size 0;
        }
    }

    &.content-from-bottom-left {
        &::after {
            bottom: -$line-thickness;
            left: -$line-thickness;
            border-radius: 0 $block-size 0 0;
        }
    }

    &.content-from-bottom-right {
        &::after {
            bottom: -$line-thickness;
            right: -$line-thickness;
            border-radius: $block-size 0 0 0;
        }
    }
}
