@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

@function generate_lines(
    $colors,
    $width,
    $isSecondary: false,
    $line-thickness: 1
) {
    $lines: ();

    @each $i, $color in $colors {
        $line-size: ($width * $i) - 1.5;

        @if ($isSecondary and $i == length($colors)) {
            $line-size: $width * 10;
        }

        $new_line: 0 0 0 $line-size $color,
                   0 0 0 $line-size + ($line-thickness) #fff; // 1px white border line
        $lines: append($lines, $new_line, comma);
    }

    @return $lines;
}
