$block-size: 300px;

$line-thickness: $block-size / 10;

$block-1: (
    border-color: #b9c1e5,
    primary-content: (
        1: #aaa4a8,
        2: #fe6faf,
        3: #587dc4,
        4: #e54a69,
        5: #ded28a,
        6: #59ae53,
        7: #fef3d5
    )
);

$block-2: (
    border-color: #f6981e,
    background-color: (
        #fef3d5,
        #ea6084
    ),
    primary-content: (
        1: #aaa4a8,
        2: #fe6faf,
        3: #587dc4,
        4: #e54a69,
        5: #ded28a,
        6: #59ae53
    ),
    secondary-content: (
        1: #6fa7ca,
        2: #fccd29,
        3: #c36796,
        4: #9c949f,
        5: #7780c1,
        6: #764c3e
    )
);

$block-3: (
    border-color: #32728d,
    primary-content: (
        1: #e4432f,
        2: #79a779,
        3: #bb9e7c,
        4: #336eb4,
        5: #d6b7a2,
        6: #f47353,
        7: #82a4b0
    )
);

$block-4: (
    border-color: #8e4b76,
    primary-content: (
        1: #6fa7ca,
        2: #fccd29,
        3: #c36796,
        4: #9c949f,
        5: #7780c1,
        6: #764c3e,
        7: #ea6084
    )
);

$block-5: (
    border-color: #b0b59f,
    background-color: (
        #c99951,
        #82a4b0
    ),
    primary-content: (
        1: #e4432f,
        2: #79a779,
        3: #bb9e7c,
        4: #336eb4,
        5: #d6b7a2,
        6: #f47353
    ),
    secondary-content: (
        1: #4e4757,
        2: #a69b97,
        3: #d46f39,
        4: #574e8f,
        5: #eba708,
        6: #bbc68a
    )
);

$block-6: (
    border-color: #df4e6f,
    primary-content: (
        1: #4e4757,
        2: #a69b97,
        3: #d46f39,
        4: #574e8f,
        5: #eba708,
        6: #bbc68a,
        7: #c99951
    )
);

$blocks: (
    1: $block-1,
    2: $block-2,
    3: $block-3,
    4: $block-4,
    5: $block-5,
    6: $block-6
);
